@model Autenticacion
@{
    Layout = "_Layout";
}
<section id="appointment" class="appointment section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Actualizar Contraseña</h2>
        <p>Modifica tus datos personales para mantener tu información actualizada.</p>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <form asp-controller="Usuarios" asp-action="ActualizarContrasenna" method="post">
            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-danger mt-3">@ViewBag.Mensaje</div>
            }
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="ContrasenaHash">Nueva Contraseña</label>
                    <input asp-for="ContrasenaHash" class="form-control" type="password" placeholder="Ingrese la Contraseña" required />
                    <span asp-validation-for="ContrasenaHash" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <label for="ConfirmarContrasenna">Confirmar Contraseña</label>
                    <input asp-for="ConfirmarContrasenna" class="form-control" type="password" placeholder="Confirme la nueva contraseña" required />
                    <span asp-validation-for="ConfirmarContrasenna" class="text-danger"></span>
                </div>
            </div>
            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary rounded-pill py-2 px-4">Procesar</button>
            </div>
        </form>
    </div>
</section>
