<div class="card">
    <div class="card-header"><i class="bi bi-journal-medical me-1"></i> Historial Médico</div>
    <div class="card-body">
        <p class="text-muted">Aquí irá el CRUD de historiales.</p>
    </div>
</div>
